html, body {
  min-height: 100vh;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  height: 40px;
  background-color: #50514F;
  color: #F4F3EE;
  padding: 5px;
}
#openFile {
  width: 40vw;
}

.content {
  flex: 1;
  display: flex;
}
.content-item {
  width: 50vw;
}
#preview {
  background-color: #DFE0E2;
  max-height: calc(100vh - 40px);
  overflow: auto;
}
.CodeMirror {
  border: 1px solid #50514F;
  height: calc(100vh - 40px);
}